html, body { margin: 0; padding: 0; height: 100%;}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-khtml-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[role="homepage"] {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -khtml-animation-name: fadeIn;
  animation-name: fadeIn;
}

[role="homepage"] {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -khtml-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -khtml-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -khtml-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -khtml-animation-fill-mode: both;
  animation-fill-mode: both;
}