// Styles for Park Cities Presbyterian



// Colors, Images ===========================
$slate: #3b3b3b;
$storm: #545454;
$sage: #a1b09b;
$azure: #176f9f;
$glass: #98bed7;
$umber: #cc5b04;
$cream: #F9F7F0 ; 
$light-grey: #999;
$mastheadTxtColor: #f9f7f0;


$bodyBg: #f9f7f0 url('../images/pcpcTheme/bg.png')repeat;
$globalFooterBg: #9aa895 url('../images/pcpcTheme/footer-bg.png')repeat;
$sprite: url(../images/pcpcTheme/sprite@2x.png) no-repeat;


// Typography ============================
$sansFont: "proxima-nova", sans-serif;
$serifFont: "minion-pro", serif;



// Mixins =================================
@mixin linkColor($color) {
  color: $color;
  font-size:1.01em;
  &:hover {
    color:darken($color, 10%);
  }
}

@mixin typeset($weight, $size, $family, $style: normal, $color: $slate) {
  font-weight:$weight;
  font-size:$size;
  font-family:$family;
  font-style:$style;
  color: $color;
}

@mixin transition($attribute, $time, $type: ease-in-out) {
  -webkit-transition: $attribute $time $type;
  -moz-transition: $attribute $time $type;
  -o-transition: $attribute $time $type;
  transition: $attribute $time $type;
}


// Breakpoints ===========================
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == cub {
    @media (max-width: 500px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == sheep {
    @media (max-width:766px) {@content; }
  }
  @else if $point == sheep-to-ram {
    @media (min-width:768px) and (max-width:996px) {@content; }
  }
  @else if $point == ram {
    @media (max-width:996px) {@content; }
  }
}

@import "fadein-page";


//@import "compass/css3/border-radius";
//@import "compass/css3/text-shadow";
//@import "compass/css3/box-shadow";

@import "foundation";
//@import "compass/layout/sticky-footer";

// Sticky Footer 
//@include sticky-footer(225px, "#wrapper", "#wrapper_footer", "#footer");

@import "offcanvas";

@import "compass/support";





// Misc  ================================
.clearfix { *zoom: 1; }
.clearfix:before, .cleafix:after { content: ""; display: table; }
.clearfix:after { clear: both; }


// ================= Typography
.read-more {
  @include typeset(600, 1em, $serifFont);
  @include linkColor($umber);
}

.small {
  @include font-size(16);
}

p {
  @include font-size(18);
  line-height:1.50em;
  font-weight:normal;
  font-family:$serifFont;
}

h1 {
  font-family: $sansFont;
  font-style:bold;
  @include font-size(66);
  font-weight:600;
  margin: 10px auto 16px;
}

#welcome h1 {
  font-family: $serifFont;
  font-style:italic;
  @include font-size(30);
  font-weight:500;
  margin:10px auto;
  color:#484847;
}

.lead {
  @include font-size(32);
  color: $azure;
  line-height: 1.24em;
  display: block;
  margin-bottom: 14px;
}

time {
  @include font-size(11);
  font-weight:bold;
  font-family:$sansFont;
  color:$slate;
}

.date-tag {
  font: bold 1.143em $sansFont;
  line-height: 1.2em;
  color:$slate;
  text-transform:uppercase;
  text-align:center;
  width:40px;
  .month {
    font-size:0.857em;
    display:block;
  }
  .date {
    font-size:1.714em;
    display:block;
  }
}

.more {
  @include font-size(14);
  font-style:italic;
  font-family: $sansFont;
  font-weight:400;

  &:after {
    content:'\2192';
    margin-left:8px
  }
}



// ================= Links
a {
  color:$azure;
  @include transition(color, .15s);

  &:hover {
    color:darken($azure, 24%);
  }
}


.subnav-link {
  color:$umber;
  font-style:normal;
  font-family:$sansFont;
  font-weight:400;
  @include font-size(14);

    &:hover {color:darken($umber, 20%);}

    &.active {
      font-weight:bold;
    }
  }


// ================= Lists
ul li {
  list-style:none;
}

    ol.slats {
        list-style:none;
        margin: 30px auto auto 30px;
        @include breakpoint (baby-bear) {margin: 30px 0;}
        display: block;

        li {
          clear:both;
          width:100%;
          float:left;
          padding:12px 0;
          border-top:1px solid $light-grey;

          &:first-child {
            border-top:0;
          }

          .aside {float:left;}

          &:last-child {
            border-bottom:1px solid $light-grey;            
          }

          &.three-across .details {
            float: left;
            margin-left: 8px;
          }

          .details {
            margin-left: 62px;

            h5 {
              margin:0;
            }
          }

        }
    }


// ================= Buttons

.action {
    float: right;
    margin: 8px 42px 0 0;
    a {
      @extend .btn;
    }
    @include breakpoint(baby-bear) {
      margin: 10px 0 0 50px;
      float: left;
      clear: both;
    }
  }
#search-box {
  @include border-radius(15px, 15px);
  margin:10px 38px 0 32px;
  padding: 0;
  background: #fff;
  position:relative;

  input {
    padding-left: 30px;
    @include border-radius(15px, 15px);
    margin: 0;
    background: transparent;
    border: none;
  }

  &:before{
    line-height:1em;
    position: absolute;
    top: 25%;
    content: "";
    background:$sprite -4px -261px;
    height: 20px;
    width: 40px;
  }
}
.nav-main-btn {
  a {
      margin: 10px 0 1px;
      display:block;
      @include border-radius(4px, 4px);
      padding:10px 12px;
      border: 1px solid #0b3952;
      @include font-size(14);
      color:#f7f4ee;
      font-weight:600;
      text-transform:uppercase;
      @include text-shadow(-1px -1px 1px rgba(0, 0, 0, .5));
      @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.10) inset, -1px 1px 0 rgba(255, 255, 255, 0.10) inset, 1px 1px 0 rgba(255, 255, 255, 0.10) inset);

      .inner {
        background:$sprite 122px -150px;
      }

      &:active, &:hover{
        color:$cream;
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.2) inset)
      }

    }  
    &.open a .inner {
      background:$sprite 122px -183px;
    }

}

.btn {
  background:$sage;
  cursor: pointer;
  display: inline-block;
  font-family: "minion-pro", serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 6px 14px ;
  color:white;
  font-family:$sansFont;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  @include border-radius(20px, 20px);

  &:hover {
    background:$slate;
    color:white;
  }
}

.media-btn {
  color:white;
  font-family: $sansFont;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8em;
  margin: 2px 0;
  outline: none;
  text-decoration: none;
  height: 28px;
  width: 118px;
  text-indent: 14px;
  position: relative;

  &.download {
    background:$sprite -132px -8px;
  }

  &.listen {
    background:$sprite -5px -8px;
  }

  &:active {top:1px;}
  
  &:hover {color:white;}

}

.icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f7f4ee;
  margin-top:2px;
  @include border-radius(1px, 1px);
  @include box-shadow(-1px -1px 1px rgba(0, 0, 0, .5));
}


// ================ Main Navigation
#global-nav-wrapper {
  background:url(../images/pcpcTheme/glass.png) repeat-x 0 -5px, url(../images/pcpcTheme/bg-subnav-grain.png) repeat;
  border-bottom:1px solid #0b3852;
}
#global-nav ul > li {position: static; text-align:left !important;}



.nav-bar > li > a:first-child, #global-nav > ul > li > a:first-child {
  padding:0 28px;font-size:13px;
}

.nav-bar > li > a, #global-nav > ul > li > a {color:#f7f4ee;font-weight:600;}

#global-nav {
  text-align: left;
  @extend .row;

  @include breakpoint(sheep-to-ram) {display:none !important;}

  > ul {
    @extend .nav-bar;
    background:transparent;
    width: 100%;
    margin:0 auto;
    padding:0;
    text-align: left;
  

    > li {
      border:0;
      margin-top:5px;
      font-family: $sansFont;
      display:inline;
      text-align: right;
      @include box-shadow(0);
      @include text-shadow(-1px -1px 1px rgba(0, 0, 0, 0.5));


        &:hover {
          background:transparent;
        }

        a {
          border-right:1px solid #0c4b6e;
          border-left: 1px solid #3087ae;
          line-height:2.2em;
          font-size:13px;

          &:hover {
            color:#15415b;
            @include text-shadow(0 -1px 0px rgba(8, 41, 58, 0.44), 0 1px 0px rgba(250, 250, 250, 0.14));
          }
        }
        
        &:last-child a {
          border-right:0;
        }

        &:first-child a {
          border-left:0;
        }

    }

  }
  .mega.hovering > a {
            color:#15415b;
            @include text-shadow(0 -1px 0px rgba(8, 41, 58, 0.44), 0 1px 0px rgba(250, 250, 250, 0.14));
  }

  .mega-inner ul {
    
    li {
      border:0;

      a {
        background: none;
        border: 0;
        @include box-shadow(none);
        @include text-shadow(0);
        @include linkColor($cream);
        padding:4px 0;

        &:hover {
          background:none;
        }
      }
    }

  }

  .nav-bar > li:last-child, #global-nav ul > li:last-child {
      border-right:0;
      @include box-shadow(none);
    } 
}

// ================ Mega General Settings

#megaDrop, .mega-inner {
  h4 {
    @include typeset(200, 1em, $sansFont, normal, $glass);
    margin:14px 0 4px;
  }
}


// ================ The Mega Drop
#megaDrop {
  background:#05354D;
  display: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 40px;
  margin-top: -1px !important;
  padding-left: 0;
  padding-right: 0;

  @include box-shadow(inset 0 -4px 4px rgba(0, 0, 0, .1));
  border-bottom: 1px solid #032334;
  
  ul li a {
    @include typeset(200, .95em, $sansFont, normal, $mastheadTxtColor);
  }

}


// ================ Mega Hover Dropdowns
ul#menu {
  @extend .hide-for-small !optional;

  .mega-inner {
    @include outerRow();

    ul {
      margin:6px 0 0;

      li {
        margin:0;
        padding:0;
      }

    }
  }
}
ul#menu li {  
  display: inline; 
}  

ul#menu .container {  
  display: none;  
}  
ul#menu li.mega .container {  
  width: 100%;  
  left: 0em; 
  @include text-shadow(none);
}  

ul#menu li.hovering .container {  
  color:white;
  display: block;  
  overflow: hidden;
  position: absolute;
  z-index: 12;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #114c6e;
  background:rgba(17, 76, 110, 0.98);
  margin-top: 6px !important;
  padding-left: 0;
  padding-right: 0;
  border-bottom:1px solid black;
}  

ul#menu li.hovering {
      background: url(../images/theme/arrow.png) center 24px no-repeat !important;
      height: 36px;
}

// ================ Breadcrumbs
ul.breadcrumbs {
  background: transparent;
  border: 0;
  padding: 12px 16px;
  margin-bottom:0;
  width:86%;

  @include breakpoint(baby-bear) {padding:12px 6px 0px}


  li {
    a {
      @include typeset(200, .85em, $sansFont, normal, $light-grey);
      text-transform: none;
      letter-spacing:1px;
    }
    .active {
      font-weight:bold;
      color:darken(#999, 20%);
    }
  }
}


// ================ Sidenav
.sidenav.main {
  @extend .four, .columns;
  float:right;

  h5 {
    @include typeset(600, 1.28em, $sansFont, bold, $slate);
  }

  li a {
    @include typeset(200, 1em, $sansFont, normal);
    @include linkColor($umber);
  }

  li.active a {font-weight:bold}
}

.sidebar {
  h5 {
    @include typeset(600, 1.28em, $sansFont, bold, $slate);
    margin-bottom:18px;
  }
  
  ul {
    margin-top:24px;
  }

  ul li {
    margin:10px;
  }
  li a {
    @include typeset(400, 1em, $sansFont, normal);
    @include linkColor($umber);
  }

  li.active a {font-weight:bold}
}

// ================= Extensive Subnav
.extensiveSubnav {
  @extend .row;

  .inner {
    @extend .twelve, .columns;

    & > div {
       @extend .four, .columns;
    }
  }
}

// ================ Grid Content

.gridContent {
  @extend .row;

  .inner {
    @extend .twelve, .columns;

    > div {
       @extend .three, .columns;
    }
    h5 {margin-bottom:2px;}
  }
}


// Theme ================================
// ================ Mini Masthead
body {background:$cream;}

[role="navigation"]#topMenu ul {margin-bottom:0;}

@media (min-width: 768px) {

  .js [role="navigation"]#topMenu {
  display: block;
  }

}
#masthead-wrapper .main-toggle.nav-main-btn {

  @include breakpoint(sheep-to-ram) {
    float: right;
    margin: -4px 12px 0 0;
  }

  margin-top: 66px;
  margin-bottom: 6px;

  .mini-nav {
  clear: both;
  padding: 10px;
  display:none;
  @include breakpoint(ram) {display:block !important;}
    
    .inner {
      background-position: 30px -200px;
      margin: 0 auto;
      padding: 0 14px 0 0;
      width: 55px;
    }

    .icon-bar {
      margin: 2px auto;
    }
  }


}

.active-menu .mini-nav .inner {
   background-position: 30px -237px !important;
}


#topMenu {
  #nav.nav-bar {background: #05354D;height:auto!important;}
  
  .nav-bar > li, #global-nav > ul > li {
    border: 0;
    float:none;
    border-bottom: 1px solid #032334;
    @include typeset (200, normal, $sansFont, #98bed7);


    &:hover {
      background:#092d40;
    }
  }

  .active {
    background: #72A0B8;

    &:hover {
      background:darken(#72A0B8, 10%);
    }

    a {
      color:#082434;
      font-weight:600;
      text-indent:14px;

      &:hover {
        color:$cream;
      }
    }
  }

}


// ================ Masthead
#masthead-wrapper {
  padding-top: 10px;
  @include background-image(linear-gradient(darken(rgba(3,86,123,1),5%), rgba(3,86,123,1)));
  border-bottom:1px solid #348bb5;
  @include box-shadow(0 -6px 3px rgba(0, 0, 0, 0.1));
}

#masthead {
  @extend .row;
  margin:2px auto 8px;
  font-family: $sansFont;

  @include breakpoint(sheep) {padding: 0 20px;}

  #sunday-service-times {
    @extend .two, .columns;
    margin:6px 0 0px 0;
    padding:0;

    @include breakpoint(ram) {width: 20%;}
    @include breakpoint(sheep) { float: right; margin-right: 6px; }

    dt, dd {
      font-family: $sansFont;
      @include font-size(11);
      line-height: 1.3em;
    }
    dt {
      font-weight: bold;
      color: #72a0b8;
    }
    dd {
      color: $mastheadTxtColor;
    }
  }

  #search-box {
    @extend .three, .columns;
    padding:0;
    @include breakpoint(sheep) { float:left;margin:10px 14px 0 0px;width:35% !important; }
    @include breakpoint(cub) {display:none;}
  }

  #global-additional-nav {
    @extend .two, .columns;

    @include breakpoint(ram) {
      margin: 10px 0 0;
      width: 19%;
    }
    @include breakpoint(sheep) {display:none;}

    margin:14px 0 0 10px;
    padding:0;

    li {
      display:inline-block;
      list-style:none;
      @include font-size(13);

      &, a {
        color:$glass;
        font-weight: 600;
        
      }

    }
  }

  .toggle-nav {
    @extend .columns, .nav-main-btn; 
    @include breakpoint(ram) {display:none;} 
    @media (min-width:800px) and (max-width:996px) {float:none;width:auto;}
    width:20%;
    float:right;
    font-weight:600;
  }

}


#logo {
  @include column(2);
  width: 110px;
  height: 50px;
  margin-right:10px;
  background: $sprite  -6px -54px;

  @include breakpoint(ram) {margin-left: 4px;}
  @include breakpoint(sheep) { float: left; }

  a {
    display:inline-block;
  }

  h3 {
    text-indent: -9999px;
    padding: 0 14px;
  }
}

// =================== Orbit
// Graceful Loading
div.orbit {
  margin-bottom:0;
   div.orbit-slide {
     background:#f9f7f0;

    }
}
.contentSlider {
  background: url(../images/foundation/orbit/loading.gif) center center $cream no-repeat; height: 300px; width:100%;
  .slide {
    display: none;
  }
  
  &.orbit {
    background: none;
  }
  
  &.orbit img {
    display: block;
  }
}



// The Usual: Three Across Slider
// Arrows

.orbit-wrapper {
  div.timer {
    opacity: 0;
  }
  div.slider-nav {
    span.right {
      background:$sprite -275px -46px !important;
    }
    span.left {
      background:$sprite -275px -167px!important;
    } 
  }
  &:hover {
    div.slider-nav {
      span.right {
        background:$sprite -275px 3px !important;
      }
      span.left {
        background:$sprite -275px -118px!important;
      }
    }
  }
}
/*
.orbit-wrapper div.slider-nav span.right {
  background:$sprite -275px -46px !important;
}
.orbit-wrapper:hover div.slider-nav span.right{
  background:$sprite -275px 3px !important;
}
.orbit-wrapper div.slider-nav span.left {
  background:$sprite -275px -167px!important;
}
.orbit-wrapper:hover div.slider-nav span.left {
  background:$sprite -275px -118px!important;
}
*/
.orbit-wrapper #threeAcross {
    @include breakpoint(sheep) {
      h5, p, .more {display:none;}
    }
}
div.orbit-wrapper div.slider-nav span {
  top:32%;
  @include breakpoint(sheep) {margin-top:-40px;}
}



// Home: Featured Content Slider
#feature {
  // Hover only
  .orbit-wrapper {
    div.timer {
      opacity: 0;
    }
    .slider-nav span { 
      @include opacity(0); @include transition(opacity, .15s); 
      }
    &:hover .slider-nav span { @include opacity(.4); }
  }
   // Arrows
  .orbit-wrapper div.slider-nav span.left {
    background:url(../images/pcpcTheme/orbitArrowL@2x.png) repeat-y !important;
  }
  
  .orbit-wrapper div.slider-nav span.right {
    background:url(../images/pcpcTheme/orbitArrowR@2x.png) repeat-y !important;
  }
  div.orbit-wrapper div.slider-nav span {
    width: 190px;
    height: 100%;
    top: 0;
    margin-top: 0;
  }
  
  @include breakpoint(sheep) {
      .orbit-wrapper div.slider-nav span.right {
        background:url(../images/pcpcTheme/orbitArrowR@2x.png) repeat-y  0 -70px!important;
      }
      .orbit-wrapper div.slider-nav span.left {
        background:url(../images/pcpcTheme/orbitArrowL@2x.png) repeat-y  0 -70px!important;
      }
  }
  
}


#featuredContent .mixedContent {
  padding:32px 0 0;
  @include breakpoint(sheep) {padding:10px 0;}
  
  .inner {
    @extend .row;
    width:75.3333%;
    margin:0 auto;
      @include breakpoint(sheep) {
                width:100%;
                    
                .four, .eight {width:50% !important;}
                .four {float:left;}
                .eight {float:right;}
                h4 {font-size:1.2em}
                p, .note {display:none;}
                .action {display: block;margin: 0;}
      }
           
  }
}



// ================ Article
.article {
  
  margin-top:14px;

  header {@extend .eight, .columns;}

  .inner {
    @extend .eight, .columns;
    padding:0 42px 0 0;
    @include breakpoint(mama-bear) { padding:0 10px; }

  }

  .emph {
    color:$azure;
    @include font-size(32);
    line-height:2.25em;
  }
}

.complimentary-toggle {
  .icon-bar {
    @include box-shadow(0);
  }
}

#sidebarButton {
  background:#03567B;
  background:url(../images/pcpcTheme/glass.png) repeat-x 0 -5px, url(../images/pcpcTheme/bg-subnav-grain.png) repeat;
  border: 1px solid #03567B; 
  padding: 10px 10px 12px;
  width: 38px;
  margin-right: 12px;
  margin-top:6px;
}


// ================ Home 
#home{
  background: $bodyBg;

  .main {
    @extend .row, .centered;
    margin-top:40px;
       @include breakpoint(sheep) {margin:20px 20px 0}
  }

  #welcome {
    margin: 0 auto;
    text-align:center;
    background:white;
    border-bottom:1px solid #d4d3cd;
    @include breakpoint(sheep) {@include font-size(20)}

    &:after {
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 100;
      margin: 0 auto;
    }

    &:before {
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 100;
      margin: 0 auto;
    }
    
    h1 {
      margin: 0 auto; padding: 16px 0 20px;
    }
  }
  // Featured Content
  #feature {
    margin-bottom: 16px;
    border-bottom: 1px solid #D4D3CD;
    max-height:360px; overflow:hidden
  }
    
  #upcoming-events {
    @extend .eight, .columns;

h4 {
  @include font-size(16);
  line-height:1.25em;
  font-weight:bold;
  font-family:$sansFont;
}

h5 {
  @include font-size(16);
  line-height:1.2em;
  font-weight:bold;
  font-family:$sansFont;
  color:$azure;
}

    header {
      @extend .clearfix;
      height:40px;

      h4 {
        float:left;
      }
      .more {
        margin-left:16px;
        position: relative;
        top: 16px;
      }

    }

    ol {
      margin:0;

      h5 {
        @include breakpoint(sheep) {width:144px;}
      }
      li {
        @extend .three-across;
      }
      li:first-child {
        border-top:1px solid #ABABAB;
      }
    }

    .date-tag {
        @extend .aside;
      }

  }

  #latest-sermon {

     @extend .four, .columns; 

     h4 {
      @include font-size(16);
      line-height:1.25em;
      font-weight:bold;
      font-family:$sansFont;
    }

    h5 {
      @include font-size(16);
      line-height:1.2em;
      font-weight:bold;
      font-family:$sansFont;
      color:$azure;
    }

     @include breakpoint(sheep) {margin-top:20px}

      .inner {
        padding:0;
        background: white;
        border-top: 1px solid #F5F3ED;
        border-right: 1px solid #E4E1DC;
        border-bottom: 1px solid #C8C6C1;
        border-left: 1px solid #EEECE7;
        @include box-shadow(1px 1px 3px rgba(50, 50, 50, 0.25));

        &:after {
          content:'';
          background:url(../images/pcpcTheme/crossHatch.png) 20px -1px repeat-x;
          width:100%;
          height:12px;
          display:block;
          border-top:1px solid #e8e8e8;
        }
      }
      
      .wrapper {
        padding: 0 24px;
      }
      header {
        border-bottom: 1px solid #e2e3e3;
        padding-bottom:26px;
        margin:12px 0;

        h4 {
          float:left;
          margin:0;
        }
      }

      .notes {
        clear:both;
      }

      time {
        color:$light-grey;
        @include font-size(13)
      }
      .more {
        float:right;
        padding-top:2px;
        
      }
      h5 {
        @include font-size(18);
        margin: 0 0 2px;
      }
      .emph {
        font:italic 1.143em $serifFont;
        display:block;
        margin-bottom:6px;
      }
      ul li {
        display: inline-block;
        @include breakpoint(baby-bear) {display: block;}
      }

      
    }

}

#threeAcross {
  margin-top: 30px;
  display: inline-block;



  ul {
    padding:0px 40px;
        @include breakpoint(baby-bear) {padding:0;}
    li {
      @extend .four, .columns;
      float:left;

      h5 {
        color:$storm;
        margin:4px 0;
        @include breakpoint(baby-bear) {display:none;}
      }

      p {
        @include typeset(200, 1em, $serifFont);
        margin:0;
        @include breakpoint(baby-bear) {display:none;}
      }
      a {display:block;position: relative; z-index: 10;}
      a.more {
        @extend .read-more;
        @include breakpoint(baby-bear) {display:none;}
      }


    }
  }
}



// Footer ================================
#footer {
  width: 100%;
  margin: 0 auto 0;
  padding: 0;
  background:transparent;
  .footerInner {
    border-top: 1px solid #8f9c87;
    background: $globalFooterBg;
  }
  #search-box {
    display:none;
    @include breakpoint(sheep) {display:block}
  }
  h4 {margin-bottom:0;}
  a {
    @include linkColor($cream);
    @include font-size(16);
  }
  ul {
    margin-top:12px;
    li {
      padding:6px 0;
    }
  }
}

div#stickyfooter {
  margin-top: 80px;
  *zoom: 1;
  #footer {
    &:before {
      content: ""; display: table;
    }
    &:after {
      content: ""; display: table;
      clear: both; margin-bottom: -10px;
    }
  }
}

//div#stickyfooter { *zoom: 1; }
//div#stickyfooter #footer:before, div#stickyfooter #footer:after { content: ""; display: table; }
//div#stickyfooter #footer:after { clear: both; margin-bottom: -10px;}

