.three.columns
  %h4 Content
  #search-box
    %input{:placeholder => "Search", :type => "text"}/
    %i.foundicon-search
  %ul
    %li
      %a{:href => "layoutMenu.html"} Layout: Menu
    %li
      %a{:href => "layoutText.html"} Layout: Text
    %li
      %a{:href => "layoutTextVideo.html"} Layout: Text + Video
    %li
      %a{:href => "layoutTextList.html"} Layout: Text + List
    %li
      %a{:href => "layoutHero.html"} Layout: Text + Hero Image
    %li
      %a{:href => "layoutTextImage.html"} Layout: + Text + Image
    %li
      %a{:href => "layoutGridContent.html"} Layout: + Grid + Image
.three.columns
  %h4 Content
  %ul
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
.three.columns
  %h4 Content
  %ul
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
.three.columns
  %h4 Content
  %ul
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item
    %li
      %a{:href => "#", :title => "Item"} Item