#megaDrop.container
  .row
    .two.columns
      / 7 links
      %h4 About
      %ul
        %li
          %a{:href => "#"} New to PCPC?
        %li
          %a{:href => "#"} Identity
        %li
          %a{:href => "#"} Our History
        %li
          %a{:href => "#"} Meet Our Staff
        %li
          %a{:href => "#"} Stories of Rescue
        %li
          %a{:href => "#"} Jobs at PCPC
        %li
          %a{:href => "#"} Leadership
    .two.columns
      / 9 links
      %h4 Worship
      %ul
        %li
          %a{:href => "#"} Why Worship?
        %li
          %a{:href => "#"} Sundays
        %li
          %a{:href => "#"} Vespers
        %li
          %a{:href => "#"} Communion
        %li
          %a{:href => "#"} Music
        %li
          %a{:href => "#"} Worship Resources
        %li
          %a{:href => "#"} Giving
        %li
          %a{:href => "#"} Family
        %li
          %a{:href => "#"} Baptism
    .two.columns
      / 5 links
      %h4 Connect
      %ul
        %li
          %a{:href => "#"} Membership
        %li
          %a{:href => "#"} Community
        %li
          %a{:href => "#"} Adults
        %li
          %a{:href => "#"} Students (Youth)
        %li
          %a{:href => "#"} Kids (Nursery, Pre-K, Elementary)

      / 3 links
      %h4 Serve
      %ul
        %li
          %a{:href => "#"} On Sunday mornings
        %li
          %a{:href => "#"} In the Community
        %li
          %a{:href => "#"} Around the World
    .two.columns
      / 5 links
      %h4 Outreach
      %ul
        %li
          %a{:href => "#"} Urban Ministries
        %li
          %a{:href => "#"} Missions and Church Planting
        %li
          %a{:href => "#"} Workplace Ministries
        %li
          %a{:href => "#"} Apartment Life
        %li
          %a{:href => "#"} Arts Festival
    .two.columns
      / 9 links
      %h4 Care
      %ul
        %li
          %a{:href => "#"} Finding Care
        %li
          %a{:href => "#"} Prayer
        %li
          %a{:href => "#"} Counseling
        %li
          %a{:href => "#"} Pastoral Care - Hospital Visits
        %li
          %a{:href => "#"} Good Samaritan Fund
        %li
          %a{:href => "#"} 60+ Visitation
        %li
          %a{:href => "#"} Helping Hands
        %li
          %a{:href => "#"} Resources
        %li
          %a{:href => "#"} Care Clusters
    .two.columns
      / 8 links
      %h4 Resources
      %ul
        %li
          %a{:href => "#"} Sermon Audio
        %li
          %a{:href => "#"} Library / Bookstore
        %li
          %a{:href => "#"} Devotionals
        %li
          %a{:href => "#"} Articles
        %li
          %a{:href => "#"} Media
        %li
          %a{:href => "#"} Classifieds
        %li
          %a{:href => "#"} Publications
        %li
          %a{:href => "#"} Weddings at PCPC
