- require './helpers.rb'
!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    = render 'head'
  %body
    / ==================== Masthead ====================
    = render 'megadrop'
    
    / Main Nav on Small Devices
    %nav#topMenu{:role => "navigation"}
      %ul#nav.nav-bar
        %li
          %a{:href => "twitter.com"} ABOUT
        %li
          %a{:href => "#"} WORSHIP
        %li
          %a{:href => "#"} CONNECT
        %li
          %a{:href => "#"} SERVE
        %li
          %a{:href => "#"} OUTREACH
        %li
          %a{:href => "#"} CARE
        %li
          %a{:href => "#"} RESOURCES
        %li
          %a{:href => "#"} NEW TO PCPC?
    / Main Nav: Masthead Menu
    %header#masthead-wrapper
      #masthead
        #logo
          %a{:href => "index.html"}
            %h3 Park Cities Presbyterian Church
        #sunday-service-times
          %dl
            %dt Sunday Service Times
            %dd 8:00 am - Communion Service
            %dd 9:30 am / 11:00 am
        #search-box
          %input{:placeholder => "Search", :type => "text"}/
          %i.foundicon-search
        #global-additional-nav
          %ul
            %li
              %a{:href => "#"} News
              \/
            %li
              %a{:href => "#"} Events
              \/
            %li
              %a{:href => "#"} Contact
        .toggle-nav.nav-main-btn{:onclick => "void(0);"}
          %a{:href => "#"}
            .inner Ministry Index
        .main-toggle.nav-main-btn
          %a#menuButton.mini-nav{:href => "#menu"}
            .inner Menu
    / Main Nav: Site Navigation
    #global-nav-wrapper
      %nav#global-nav
        %ul#menu{:role => "navigation"}
          %li.mega
            %a{:href => "#"} ABOUT
            .container
              / v :: MEGA HOVERs look like THIS! :: v
              .mega-inner
                .three.columns
                  %h4 Inner Templates
                  %ul
                    %li
                      %a{:href => "layoutMenu.html"} Layout: Menu
                    %li
                      %a{:href => "layoutText.html"} Layout: Text
                    %li
                      %a{:href => "layoutTextVideo.html"} Layout: Text + Video
                    %li
                      %a{:href => "layoutTextList.html"} Layout: Text + List
                    %li
                      %a{:href => "layoutHero.html"} Layout: Text + Hero Image
                    %li
                      %a{:href => "layoutTextImage.html"} Layout: + Text + Image
                    %li
                      %a{:href => "layoutGridContent.html"} Layout: + Grid + Image
                .three.columns
                  %h4 Category Title
                  %ul
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                .three.columns
                  %h4 Category Title
                  %ul
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                .three.columns
                  %h4 Category Title
                  %ul
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
                    %li
                      %a{:href => "#"} Item Title
          %li
            %a{:href => ""} WORSHIP
          %li
            %a{:href => "#"} CONNECT
          %li
            %a{:href => "#"} SERVE
          %li
            %a{:href => "#"} OUTREACH
          %li
            %a{:href => "#"} CARE
          %li
            %a{:href => "#"} RESOURCES
          %li
            %a{:href => "#"} NEW TO PCPC?
    / ==================== Content ====================
    %header.row.page-menu
      .complimentary-toggle
        %a#sidebarButton.show-for-small{:href => "#sidebar"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %ul.breadcrumbs
        %li
          %a{:href => "#"} Ministries
        %li
          %a{:href => "#"} Adult Ministries
        %li
          %a.active{:href => "#"} Women's Ministry
    .row
      %article.article.text{:role => "main"}
        %header
          %h1 Restore: Come to the Quiet
        .inner
          %span.lead
            Vestibulum id ligula porta felis euismod semper.
            Curabitur blandit tempus porttitor.
            Nulla vitae elit libero, a pharetra augue.
          %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.
        %section.sidenav.main
          %ul
            %h5 Women's Ministry
            %li.active
              %a{:href => "#"} Fall 2012 Bible Studies
            %li
              %a{:href => "#"} Sundays
            %li
              %a{:href => "#"} Vespers
            %li
              %a{:href => "#"} Communion
            %li
              %a{:href => "#"} Music
            %li
              %a{:href => "#"} Worship Resources
            %li
              %a{:href => "#"} Giving
            %li
              %a{:href => "#"} Family
            %li
              %a{:href => "#"} Baptism
      %section#sidebar.sidebar{:role => "complementary"}
        %ul
          %h5 Fall 2012 Bible Studies
          %li
            %a.active{:href => "#"} Fall 2012 Bible Studies
          %li
            %a{:href => "#"} CARES Team
          %li
            %a{:href => "#"} Vespers
          %li
            %a{:href => "#"} Communion
          %li
            %a{:href => "#"} Music
          %li
            %a{:href => "#"} Worship Resources
          %li
            %a{:href => "#"} Giving
          %li
            %a{:href => "#"} Family
          %li
            %a{:href => "#"} Baptism
    / ==================== Footer ====================
    #wrapper_footer
    %footer#footer
      .footerInner
        .row
          .three.columns
            %h4 Content
            #search-box
              %input{:placeholder => "Search", :type => "text"}/
              %i.foundicon-search
            %ul
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
          .three.columns
            %h4 Content
            %ul
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
          .three.columns
            %h4 Content
            %ul
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
          .three.columns
            %h4 Content
            %ul
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
              %li
                %a{:href => "#", :title => "Item"} Item
    / Le Javascripts
    %script{:src => "javascripts/foundation/jquery.js"}
    %script{:src => "javascripts/foundation/foundation.min.js"}
    %script{:src => "javascripts/foundation/jquery.offcanvas.js"}
    %script{:src => "javascripts/foundation/foundation.mega-drop.js"}
    %script{:src => "javascripts/hoverintent.js"}
    %script{:src => "javascripts/foundation/app.js"}
