// Colors, Images
$slate: #3b3b3b;
$storm: #545454;
$sage: #a1b09b;
$azure: #176f9f;
$glass: #98bed7;
$umber: #cc5b04;
$cream: #F9F7F0 ; 
$light-grey: #999;
$mastheadTxtColor: #f9f7f0;

$bodyBg: #f9f7f0 url('../images/pcpcTheme/bg.png')repeat;
$globalFooterBg: #9aa895 url('../images/pcpcTheme/footer-bg.png')repeat;
$sprite: url(../images/pcpcTheme/sprite@2x.png) no-repeat;

// Typography
$sansFont: "proxima-nova", sans-serif;
$serifFont: "minion-pro", serif;
