#global-nav-wrapper
  %nav#global-nav
    %ul#menu{:role => "navigation"}
      %li.mega
        %a{:href => "#"} ABOUT
        .container
          / v :: MEGA HOVERs look like THIS! :: v
          .mega-inner
            .three.columns
              %h4 About PCPC
              %ul
                %li
                  %a{:href => "#"} Identity
                %li
                  %a{:href => "#"} Our History
                %li
                  %a{:href => "#"} Meet Our Staff
                %li
                  %a{:href => "#"} Stories of Rescue
                %li
                  %a{:href => "#"} Jobs at PCPC
                %li
                  %a{:href => "#"} Leadership
            .three.columns
              %img{:alt => "PCPC", :src => "http://about.pcpc.org/image/2/200/150/1/0/assets/images/logo.png"}/
            .six.columns
              %h4 Welcome
              %ul
                %li If you are new to our church, or just getting to know us through our website, we are delighted to help you get to know about us. PCPC is a large, extended family of people seeking to be Christ's disciples and to bear His truth into our world. That commitment is expressed in our Purpose — that we exist to extend the transforming presence of the Kingdom of our Lord Jesus Christ in Dallas and to the world.
      %li.mega
        %a{:href => "#"} WORSHIP
        .container
          .mega-inner
            .three.columns
              %h4 Category Title
              %ul
                %li
                  %a{:href => "layoutMenu.html"} Layout: Menu
                %li
                  %a{:href => "layoutText.html"} Layout: Text
                %li
                  %a{:href => "layoutTextVideo.html"} Layout: Text + Video
                %li
                  %a{:href => "layoutTextList.html"} Layout: Text + List
                %li
                  %a{:href => "layoutHero.html"} Layout: Text + Hero Image
                %li
                  %a{:href => "layoutTextImage.html"} Layout: + Text + Image
                %li
                  %a{:href => "layoutGridContent.html"} Layout: + Grid + Image
            .nine.columns
      %li
        %a{:href => "#"} CONNECT
      %li
        %a{:href => "#"} SERVE
      %li
        %a{:href => "#"} OUTREACH
      %li
        %a{:href => "#"} CARE
      %li
        %a{:href => "#"} RESOURCES
      %li
        %a{:href => "#"} NEW TO PCPC?