%script{:src => "assets/js/foundation/jquery.js"}
%script{:src => "assets/js/foundation/foundation.min.js"}
%script{:src => "assets/js/foundation/jquery.offcanvas.js"}
%script{:src => "assets/js/foundation/foundation.mega-drop.js"}
%script{:src => "assets/js/hoverintent.js"}
%script{:src => "assets/js/sticky-footer.js"}
%script{:src => "assets/js/breakpoint/breakpoint.js"}
%script{:src => "assets/js/breakpoint/script.js"}
%script{:src => "assets/js/foundation/app.js"}
